$font-family-main: "SFUIDisplay", "SF UI Display", sans-serif;
$active-color-main: #4D00FF;
$background-color-main: rgb(255, 255, 255);
$border-color-main: rgba(0, 0, 0, 0.05);
$text-color-main: rgb(0, 0, 0);
$text-color-secondary: #999;